################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto_Final_Progra_Web/.vs/ProjectEvaluation/proyecto_final_progra_web.metadata.v8.bin
/Proyecto_Final_Progra_Web/.vs/Proyecto_Final_Progra_Web/FileContentIndex/069595dd-4b8c-47f5-b19b-f3cd45de9909.vsidx
