################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto_Final_Progra_Web/.vs/ProjectEvaluation/proyecto_final_progra_web.metadata.v8.bin
