################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto_Final_Progra_Web/.vs/Proyecto_Final_Progra_Web/FileContentIndex/33093d3e-af7d-4d30-8b93-15553acb406e.vsidx
/Proyecto_Final_Progra_Web/.vs/Proyecto_Final_Progra_Web/FileContentIndex/412ce192-93e6-4163-8692-3c7b990eedd0.vsidx
/Proyecto_Final_Progra_Web/.vs/Proyecto_Final_Progra_Web/FileContentIndex/5c3ef2d4-f35a-48c2-8905-525a577a51da.vsidx
/Proyecto_Final_Progra_Web/.vs/Proyecto_Final_Progra_Web/FileContentIndex/9ecebefa-4193-4548-be9a-325c9872fdf9.vsidx
/Proyecto_Final_Progra_Web/.vs/Proyecto_Final_Progra_Web/FileContentIndex/c54e04bd-e145-4dc1-91af-829816a2655f.vsidx
