@{
    ViewData["Title"] = "Más información";
}
<body style="background-image: url('https://t3.ftcdn.net/jpg/00/99/35/46/360_F_99354602_Bbc7SaHBnQky9I08FqeVd4KFnJXvnc5o.jpg'); background-size: auto; background-position:left; background-repeat: no-repeat;">
    <div style="margin-top: 100px;">
        <div style="display: flex; justify-content: right;">
            <div style="width: 500px; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);">
                <h2 style="text-align: center; margin-bottom: 20px;">Información de Contacto</h2>
                <p><strong>Dirección:</strong> 123 Calle Principal, Ciudad</p>
                <p><strong>Ubicación</strong> <a href="https://maps.app.goo.gl/qJ4YLA3AifwHCSBUA">Google maps</a></p>
                <p><strong>Correo electrónico:</strong> <a href=" mailto:info@veterinaria.com">info@veterinaria.com</a></p>
                <p><strong>Teléfono:</strong> +1234567890</p>
                <p>Nuestras redes sociales</p>
                <div class="btn-group" role="group" style="display: flex; justify-content: center;">
                    <a href="https://www.facebook.com/" class="btn text-white" style="background-color: #3b5998;">Facebook</a>
                    <a href="https://twitter.com/" class="btn btn-dark text-white"> X </a>
                    <a href="https://www.instagram.com/" class="btn" style="background-color: #833AB4; color: #FFFFFF; border-color: #833AB4;">Instagram</a>
                </div>
                <p style="text-align: center; margin-top: 10px;">
                    <button type="button" onclick="window.location.href='/Home/Index';" style="width: 40%; padding: 10px; margin-bottom: 10px; border: none; border-radius: 5px; background-color: #F8F8F8; color: #333333; cursor: pointer;">Volver a Inicio</button>
                </p>
            </div>
        </div>
    </div>
</body>