
@{
    ViewData["Title"] = "Veterinaria";
}



<body style="background-image: url('https://copisteriasoriano.com/19282-large_default/baraja-de-cartas-9-piezas.jpg'); background-size:auto; background-position: left; background-repeat: no-repeat;">
    <div style="margin-top: 100px;">
        <div style="display: flex; justify-content:right">
            <div style="width: 500px; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);">
                <h2 style="text-align: center; margin-bottom: 20px;">¡Bienvenido!</h2>
                <p style="text-align: center;">Si ya se encuentra registrado, por favor inicie sesión</p>
                <a href="/Identity/Account/Login">
                    <button type="button" style="width: 100%; padding: 10px; margin-bottom: 10px; border: none; border-radius: 5px; background-color: #9191BD; color: #fff; cursor: pointer;">Iniciar sesión</button>
                </a>
                <p style="text-align: center;">¿No tiene una cuenta?</p>
                <a href="/Identity/Account/Register">
                    <button type="button" style="width: 100%; padding: 10px; border: none; border-radius: 5px; background-color: #9191BD; color: #fff; cursor: pointer;">Registrarse</button>
                </a>
                <div class="text-center" style="margin: 10px;">
                <div class="btn-group" role="group">
                    <a href="https://www.facebook.com/" class="btn text-white" style="background-color: #3b5998;">Facebook</a>
                    <a href="https://twitter.com/" class="btn btn-dark text-white"> X </a>
                    <a href="https://www.instagram.com/" class="btn" style="background-color: #833AB4; color: #FFFFFF; border-color: #833AB4;">Instagram</a>
                </div>
                    <p style="text-align: center; margin-top: 10px;">
                        <button type="button" onclick="window.location.href='/Home/Privacy';" style="width: 70%; padding: 10px; margin-bottom: 10px; border: none; border-radius: 5px; background-color: #F8F8F8; color: #333333; cursor: pointer;">Más Información</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
